
@import "@daveyplate/better-auth-ui/css";
@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-libre-baskerville: 'Libre Baskerville', serif;
}

body {
  font-family: var(--font-libre-baskerville);

}
